body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3cbcb;
}
.arroy {
  font-size: 33px;
  color: cadetblue;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  left: 50%;
  top: 90%;
  animation: bounce 3s infinite ease-in-out, glow 1s infinite alternate;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes glow {
  0%,
  100% {
    text-shadow: 0 0 10px cadetblue, 0 0 20px cadetblue, 0 0 30px cadetblue;
  }
  50% {
    text-shadow: 0 0 20px cadetblue, 0 0 30px cadetblue, 0 0 40px cadetblue;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.fullscreen-img2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
}

.logotip {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: transparent;
  font-size: 33px;
  font-weight: 200;
  width: fit-content;
  background: linear-gradient(90deg, #cbb564 50%, #d3cbcb 0);
  background-position: 100%;
  background-size: 200%;
  background-repeat: no-repeat;
  background-clip: text;
  transition: 1s;
  position: absolute;
  top: 0;
  left: 90px;
  opacity: 0;
  transform: translateX(30);
  animation: slideIn 1.5s forwards;
}
.logotip:hover {
  background-position: 0;
}
@keyframes slideIn {
  from {
    transform: translatey(-100%);
    opacity: 0;
  }
  to {
    transform: translatey(0);
    opacity: 1;
  }
}
.header img {
  animation: slideIn 1.5s forwards;
}

/* floorMain */
.block_info_goods {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 1em 2em;
}
.btn_v4 {
  width: 500px;
  z-index: 10;
  margin: 10px 20px;
  padding: 10px;
  background-color: rgba(29, 25, 25, 0.9);
  border-radius: 3px;
  color: yellow;
  border: 2px solid rgb(199, 199, 96);
}

.info_goods {
  background-color: rgba(29, 25, 25, 0.9);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
}

.goods {
  transition: all 2s;
  z-index: 101;
  width: 80%;
  height: 80%;
  background-color: rgba(22, 20, 20, 0.9);
  left: 50%;
  top: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
}
.anima_g {
  animation: slideI2 1s forwards;
}
@keyframes slideI2 {
  from {
    transform: translate(50%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
.header img {
  animation: slideIn 1.5s forwards;
}
.left_info {
  padding: 10px 10px 10px 50px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.left_info h3 {
  width: 100%;
  text-align: left;
  color: #f1f1f1;
}

.left_info img {
  width: 85%;
}
.left_info ul {
  margin-top: 10px;
  color: #f1f1f1;
  width: 100%;
  text-align: left;
}
.left_info p {
  color: rgb(199, 199, 96);
}
.right_info {
  padding: 10px 10px 10px 50px;

  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
}
.right_info::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: rgb(199, 199, 96);
  top: 0;
  left: 0;
}
.right_info img {
  width: 85%;
}
.right_info ul {
  margin-top: 10px;

  color: #f1f1f1;

  width: 100%;
  text-align: left;
}
.right_info p {
  color: rgb(199, 199, 96);
}
.right_info h3 {
  width: 100%;
  color: #f1f1f1;

  text-align: left;
}
.floor_main {
  height: 100vh;
}
.floor_main .maine-content {
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;

  padding: 20px 10px;
  margin-top: 300px;
  margin-left: 100px;
  transition: all 2s ease;
}
.maine-content h1 {
  color: #d3cbcb;
}
.p_ {
  font-size: 16px;
  color: #ddd;
  width: 30em;
}
.info_section {
  width: 100%;
  top: 52%;
  position: absolute;
  height: auto;
  z-index: 10;
}
.element_block {
  position: relative;
  bottom: 0;

  overflow-y: auto;
  overflow-x: hidden;

  background-color: black;
  width: 100%;
  position: absolute;
  color: #d3cbcb;
  height: 350px;
  opacity: 0;
  scrollbar-width: none;
  padding: 10px;
}
.element_block.animate {
  z-index: 10;
  animation: setUp 1s ease-in-out forwards;
}
@keyframes setUp {
  from {
    bottom: -400px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.answers {
  width: 80%;
  opacity: 1;
  transition: opacity 0.5s, visibility 0.5s;
  margin: 10px 50px 10px 5px;
  font-size: 16px;
  color: #d3cbcb;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.animate_p {
  animation: setDown 0.6s ease-in-out;
}
@keyframes setDown {
  from {
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.answers:last-child {
  margin-bottom: 15px;
}
.question_to {
  cursor: pointer;
  font-size: 28px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.show {
  transition: opacity 0.5s, visibility 0.5s;
}
.answers.show {
  opacity: 1;
  width: 100%;
  visibility: visible;
}
.element_block h1 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.question_sec {
  margin: 0 1em 0 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.block_project div {
  text-align: center;
  color: rgb(185, 185, 90);
  width: 100px;
  height: 50px;
  border: 1px solid yellow;
  padding: 5px;
}
.block_project span {
  font-size: 16px;
  padding: 5px;
}
.block_project {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.block_project img {
  opacity: 0;
  width: 10px;
  height: auto;
  position: absolute;
}
.how_works_picture,
.ecoPhoto {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1000;
}

/* how_works sec */
.text_how {
  z-index: -2;
  position: relative;
  top: 10px;
  left: 10%;
  width: 500px;
  text-transform: capitalize;
  margin: 0;
  padding: 10px 15px;
  color: rgb(153, 102, 36);
  font-size: 40px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #ddd;
}

.section_how,
.eco {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.how_works_picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
}
.block_ {
  display: flex;
  padding: 2em 0;
  width: 100%;
  justify-content: center;
}
.img_block {
  position: absolute;

  top: 50px;
  z-index: -2;
  height: 650px;
  width: 500px;
  border-radius: 2px;
  box-shadow: 0px 4px 8px rgba(130, 127, 127, 0.4);
}

.block_how_check {
  top: 50px;
  box-shadow: 0px 4px 8px rgba(130, 127, 127, 0.4);
  height: auto;
  width: 550px;
  margin: 0 0 0.2em 2em;
  background-color: #ddd;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  transition: all 1s;
}
.block_how_check.animate {
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.block_how_check h1 {
  margin: 0;
  color: rgb(153, 102, 36);
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.block_how_check p {
  margin-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(67, 47, 21);
  font-size: 16px;
}
.block_how {
  display: flex;
  position: relative;
  justify-content: center;
}
.number-circle {
  margin: 0 20px;
  font-size: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: rgb(153, 102, 36);
}
@media (max-width: 600px) {
  .block_info {
    width: 100%;
    padding: 1em;
    margin: 1em 0;
  }

  .number-circle {
    font-size: 24px;
    margin: 0 10px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .block_info {
    width: 80%;
    position: relative;
    top: 15%;
    padding: 1.5em;
  }
  .block_ {
    top: 0%;
    position: absolute;
    height: 100px;
  }
}

/* EcoS */
.slider_imager {
  position: relative;
  top: -80%;
  margin: auto;
  z-index: 1000;
  max-width: 1200px;
  text-align: center;
}
.slider_imager .corousel {
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}

.corousel img {
  height: 480px;
  object-fit: cover;
  width: calc(100% / 2);
  margin-left: 15px;
  object-position: center bottom;
}
.all-picture {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
  overflow: auto;
  scrollbar-width: none;
}
.all-picture.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.all-picture img {
  width: calc(100% / 2);
  height: 150px;
  cursor: pointer;
  object-fit: cover;
}
.corousel img:first-child {
  margin-left: 0;
}
.slider_imager button {
  position: absolute;
  top: 50%;
  color: #f1f1f1;

  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  transform: translateY(-50%);
  line-height: 46px;
  cursor: pointer;
}
.slider_imager button:first-child {
  left: -30px;
}
.slider_imager button:last-child {
  right: -30px;
}

.info_reg {
  position: relative;
}
.photo_reg {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
.reg_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.make_ {
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  padding: 13px 60px;
  color: #000;
  font-size: 18px;
  background-color: rgb(192, 192, 56);
  border: none;
}
.hide_make {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s;
  position: relative;
}

.btn_v2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  padding: 13px 60px;
  width: 100%;
  color: #000;
  font-size: 18px;
  background-color: rgb(192, 192, 56);
  border: none;
  cursor: pointer;
  margin-top: 15px;
}
.btn_v3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  padding: 13px 60px;
  width: 100%;
  color: #000;
  font-size: 18px;
  background-color: rgb(192, 192, 56);
  border: none;
  cursor: pointer;
  margin-top: 0px;
}
.btn_v4_send {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  padding: 13px 60px;
  width: 100%;
  color: #000;
  font-size: 18px;
  background-color: rgb(192, 192, 56);
  border: none;
  cursor: pointer;
  margin-top: 15px;
}
.elements_ {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.blck_reg {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.5s, max-height 0.5s ease-in-out;
  position: relative;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  border: none;
}

.blck_reg.open {
  max-height: 300px;
  opacity: 1;
}

.blck_reg input {
  width: 450px;
  height: 45px;
  text-transform: capitalize;

  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #d3cbcb;
}
.blck_reg input:first-child {
  margin: 0;
}

.blck_call {
  opacity: 0;
  transition: opacity 0.5s, max-height 0.5s ease-in-out;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.openCall {
  opacity: 1;
  position: absolute;
  top: 100%;
  left: 50%;
  transition: opacity 0.5s, max-height 0.5s ease-in-out;
}
.showSend {
  opacity: 0;
  transition: opacity 1s;
}

.blck_call input {
  width: 450px;
  text-align: center;
  height: 45px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #d3cbcb;
  font-size: 17px;
}
.blck_call input:last-child {
  margin: 0;
}
.data_ {
  font-size: 17px;
  margin: 20px 0;
}
.secses-masengare {
  width: 100%;
  text-align: center;
}
.info_success {
  margin: 20px 0;
}
.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;

  .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4caf50;

    &::before {
      top: 3px;
      left: -2px;
      width: 30px;
      transform-origin: 100% 50%;
      border-radius: 100px 0 0 100px;
    }

    &::after {
      top: 0;
      left: 30px;
      width: 60px;
      transform-origin: 0 50%;
      border-radius: 0 100px 100px 0;
      animation: rotate-circle 4.25s ease-in;
    }

    &::before,
    &::after {
      content: "";
      height: 100px;
      position: absolute;
      background: transparent;
      transform: rotate(-45deg);
    }

    .icon-line {
      height: 5px;
      background-color: #4caf50;
      display: block;
      border-radius: 2px;
      position: absolute;
      z-index: 10;

      &.line-tip {
        top: 46px;
        left: 14px;
        width: 25px;
        transform: rotate(45deg);
        animation: icon-line-tip 0.75s;
      }

      &.line-long {
        top: 38px;
        right: 8px;
        width: 47px;
        transform: rotate(-45deg);
        animation: icon-line-long 0.75s;
      }
    }

    .icon-circle {
      top: -4px;
      left: -4px;
      z-index: 10;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      box-sizing: content-box;
      border: 4px solid rgba(76, 175, 80, 0.5);
    }

    .icon-fix {
      top: 8px;
      width: 5px;
      left: 26px;
      z-index: 1;
      height: 85px;
      position: absolute;
      transform: rotate(-45deg);
      background-color: transparent;
    }
  }
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
/* loading*/
.lds-spinner {
  display: inline-block;
  position: relative;
  width: 20px; /* Уменьшено с 40px */
  height: 20px; /* Уменьшено с 40px */
}
.lds-spinner div {
  transform-origin: 20px 20px; /* Уменьшено с 40px 40px */
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 1.5px; /* Уменьшено с 3px */
  left: 18.5px; /* Уменьшено с 37px, корректировка для меньшего размера */
  width: 3px; /* Уменьшено с 6px */
  height: 9px; /* Уменьшено с 18px */
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (min-width: 1424px) {
}
@media (max-width: 1024px) {
  .floor_main .maine-content {
    margin: 50px;
  }
  .info_how {
    top: 30px;
    position: relative;
    border: none;
    overflow: auto;
    max-width: 650px;
    height: 450px;
  }
  .block_how_check {
    padding: 10px;
    font-size: 14px;
    width: auto;
    height: 110px;
    top: 0;
  }
  .block_how_check p {
    margin: 0;
  }
  .number-circle {
    font-size: 30px;
  }
  .img_block {
    width: 350px;
    height: auto;
    left: 550px;
  }
}

@media (min-width: 768px) {
  body {
    background-color: #4caf50;
  }
}

@media (min-width: 319px) {
  body {
    background-color: #4caf50;
  }
}
